<div class="container">
    <div class="row">
        <div class="col"*ngFor="let p of product">
            <div class="card" style="width: 18rem;">
                 <img src="{{p.image}}" class="card-img-top" alt="...">
                 <div class="card-body">
                    <p class="card-title">
                        <b>{{p.title}}</b>
                    </p>
                    <p class="card-text">
                        {{p.description}}</p>
                </div>

                
            </div>
        </div>
    </div>
</div>
